<!DOCTYPE html>
<html lang="{{ config.default_language | default(value='en') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ config.base_url | safe }}">
                        <h1>The Sad Bastard Cookbook</h1>
                        <h6>Food you can make so you don’t die</h6>
                    </a></li>
            </ul>
            <ul>
                <li><a href="https://mybook.to/MIUiKB">Buy Print Copy</a></li>
                <li><a href="https://nightbeatseu.ca/works/the-sad-bastard-cookbook/">Visit Author Homepage</a></li>
                <li><a href="{{ get_url(path='pdf') }}">View PDF Version</a></li>
                <li><a href="https://github.com/barakplasma/sad-bastard-cookbook">
                        <img src="https://github.githubassets.com/favicons/favicon.svg">
                    </a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% block body_script %}{% endblock body_script %}
</body>

</html>