<!DOCTYPE html>
<html lang="{{ config.default_language | default(value='en') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header>
        <nav>
            {% if current_path != "toc.md" %}
                <a href="{{ get_page(path='toc.md') }}">Contents</a>
            {% endif %}

            {% if current_path == "toc.md" %}
                <a href="{{ config.base_url | safe }}">Home</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}

        {% if current_path != "toc.md" %}
            <nav>
                <ul>
                    <li><a href="{{ get_page(path='toc.md') }}" role="button">↑ Contents</a></li>
                </ul>
            </nav>
        {% endif %}
    </main>

    {% block body_script %}{% endblock body_script %}
</body>
</html>