{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="{{ config.base_url | safe }}">Home</a></li>
    <li><a href="{{ get_url(path='other') }}">Other</a></li>
    <li>
      <strong>{{ page.title }}</strong>
    </li>
  </ul>
</nav>
<article>

  {{ page.content | safe }}
  {% if page.slug == "pdf" %}
  {% include "pdf_viewer.html" %}
  {% endif %}
</article>
{% endblock content %}