{% extends "base.html" %}

{% block title %}PDF Viewer - {{ config.title }}{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>PDF Viewer</h1>
        </header>
        <div>
            <object data="{{ get_url(path="static/SAD-BASTARD-2025.pdf") }}" type="application/pdf" style="width: 100%; height: 100%;">
                <p>It appears you don't have a PDF plugin for this browser. 
                   You can <a href="{{ get_url(path="static/SAD-BASTARD-2025.pdf") }}">download the PDF</a> instead.</p>
            </object>
        </div>
        
        <nav>
            <ul>
                <li><a href="{{ get_url(path="static/SAD-BASTARD-2025.pdf") }}">Download PDF</a></li>
                <li><a href="https://traumbooks.itch.io/the-sad-bastard-cookbook">Download from itch.io</a></li>
                <li><a href="https://mybook.to/MIUiKB">Buy Print Copy</a></li>
            </ul>
        </nav>
    </article>
{% endblock content %}