{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="{{ config.base_url | safe }}">Home</a></li>
    <li>{{ section.components[0] | title }}</li>
  </ul>
</nav>

{% for page in section.pages %}
<article>
  <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  {# You could also consider adding a brief description here if available in 'page' object #}
  {# For example: {% if page.description %}<p>{{ page.description }}</p>{% endif %} #}
</article>
{% endfor %}
{% endblock content %}