{% extends "base.html" %}

{% block title %}Table of Contents - {{ config.title }}{% endblock %}

{% block content %}
    <h1>Table of Contents</h1>
    
    {% set section = get_section(path="_index.md") %}
    {% if section.pages %}
        <nav>
            {% for page in section.pages %}
                {% if not page.path == "toc.md" %}
                    <p>
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}
{% endblock content %}
